.single__body{
    margin-top: 70px ;
    padding-bottom: 40px;
}
.btn__back{
    /* color: black; */
    border-radius: 5px;
    box-shadow: 0px 0px 3px black; 
    transition: 0.5s;
}
.btn__back:hover{
    transform: scale(1.05);
}
.btn__back:active{
    transform: scale(0.95);
}
.dark__btn{
    color: aliceblue;
}
.btn__back img{
    width: 22px;
}
.btn__back p{
    margin: 0;
}
.back__arrow{
    filter: invert(90%);
}
.back__title{
    font-size: 12px;
    padding-left: 5px;
}

.country__info{
    
    color: rgb(37, 37, 37);
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 120px;
    align-items: center;
    font-size: 14px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.country__info__dark{
    color: rgb(245, 245, 245);
}
.country__info .left img{
    width: 100%;
    height:  320px;
    border-radius: 10px;

}

.country__info .top{
    display: flex;
    align-items: center;
    gap: 60px;
}

.country__info .top .single__count__name{
    font-size: 30px;
    font-weight: 900;
    margin-top: 0;
}

.single__class{
    margin-bottom: 10px;
}

.top__right{
    margin-top: 15px;
}
.country__borders{
    margin-top: 40px;
}

.border__btn{
    margin-top: 10px;
    border-width: 1px;
    border-radius: 5px;
    font-size: 12px;
    padding: 0 15px;
    background-color: rgba(224, 223, 222, 0.575);
    color: rgb(48, 47, 47);
    border: 1px solid rgb(92, 91, 91);
}
.border__btn__dark{
    border-radius: 5px;
    font-size: 12px;
    padding: 0 15px;
    background-color: rgb(76, 81, 92);
    color: rgb(221, 221, 221);
}

.dark__mode__img__dark{
    filter: invert(100%);
    display: none;
}
.light__mode__img__dark{
    filter: invert(100%);
}

.mode__imgs{
    margin-right: 5px;
    width: 27px;
    height: 27px;
    overflow: hidden;
}
.mode__titles{
    width: 120px;
    height: 27px;
    overflow: hidden;
}
.mode__titles h4{
    margin: 5px 0 10px 0;
}
.dark__title__dark{
   display: none;
}
